{% extends 'news/base.html' %}
{% load staticfiles %}

{% comment %} {% block body_block %}
    <form method="post" action=".">
        {% csrf_token %}
        {# form为django user模型对应的form #}
        {{ form.as_p }}
        <input type="submit" value="注册" />
    </form>
{% endblock body_block %} {% endcomment %}

{% block body_head %}
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
    <div class="jumbotron">
        <h1 class="display-3">用户注册</h1>
    </div>
{% endblock body_head %}

{% block body_block %}
    <h2 class="form-signin-heading">请填写以下注册信息</h2>
    <form role="form" method="post" action=".">
        {% csrf_token %}
        <div class="form-group">
            <p class="required">
                <label for="id_username" class="required">用户名:</label>
                <input class="form-control" id="id_username" maxlength="30" name="username" type="text" required /> <br />
                <span class="helptext">至多30个字符，可以输入字母，数字和符号@/./+/-/_</span>
            </p class="required">
            <p class="required">
                <label for="id_email" class="required">邮箱:</label>
                <input class="form-control" id="id_email" name="username" type="email" required />
            </p>
            <p class="required">
                <label for="id_password1" class="required">密码:</label>
                <input class="form-control" id="id_password1" name="password1" type="password" required />
            </p>
            <p class="required">
                <label for="id_password2" class="required">密码确认:</label>
                <input class="form-control" id="id_password2" name="password2" type="password" required />
            </p>
        </div>
        <button class="btn btn-default" type="submit">注册</button>
    </form>
{% endblock body_block %}