{% extends 'news/base.html' %}
{% load staticfiles %}
{# 加载bootstrap组件 #}
{% load bootstrap_toolkit %}

{% block title_block %}
    Add a Category
{% endblock title_block %}

{% block body_head %}
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
    <div class="jumbotron">
        <h1 class="display-3">添加分类</h1>
    </div>
{% endblock body_head %}

{% block body_block %}
    {# 提交表单到指定的url时，注意以/结尾 #}
    <form id="category_form" method="post" action="/news/add_category/">
        <h2 class="form-signin-heading">请填写以下信息</h2>
        {# 跨站请求伪造令牌，增强POST请求的安全性，发送表单时必须指定 #}
        {% csrf_token %}
        {# 经过bootstrap的修饰 #}
        
        {{ form }}
        <p>
        <button class="btn btn-primary" type="submit" name="submit">添加</button>
    </form>
{% endblock body_block %}