{# 继承于base模板，模板路径相对于templates目录 #}
{# 必须放在第一行 #}
{# 可以一面修改一面刷新页面查看是否有错误 #}
{% extends 'news/base.html' %}
{# 虽然基类模板中有此语句，如果在模板中有引用静态文件，还是得写下 #}
{% load staticfiles %}
{% block title_block %}
    {{ category.name }}
{% endblock %}
{% block body_block %}
    {% if category %}
        <h1>{{ category.name }}</h1>
        {% if pages %}
        <div id="pages">
            <ul>
                {% for page in pages %}
                    <li><a href="{% url 'news:goto' %}?page_id={{ page.id }}" target="new_tag">{{ page.title }}</a> {{ page.views }}</li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
            <strong>当前分类没有内容.</strong>
        {% endif %}
        <div >
            <strong id="like_count">{{ category.likes }}</strong>
            个赞
            {% if user.is_authenticated %}
                {# data-catid 携带分类id，以便jquery方便获取所需数据 #}
                <button class="btn btn-primary btn-sm" id="likes" type="button" data-catid="{{ category.id }}">
                    赞
                </button>
            {% endif %}
        </div>
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'news:add_page' category.slug %}">添加页面</a>
            <p>
            <p>
            {# 搜索功能 #}
            <div>
                <form class="form-inline" id="user_form" method="post" action="{% url 'news:show_category' category.slug %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control" type="text" size="50" name="query" value="{{ query_word }}" id="query" />
                    </div>
                    <button class="btn btn-primary" type="submit" name="submit" value="Search">搜索</button>
                </form>

                <div>
                    {% if result_list %}
                        <h3>搜索结果</h3>
                        <div class="list-group">
                        {% for result in result_list %}
                            <div class="list-group-item">
                                {# 自定义分类news-page-add 以便jquery获取 #}
                                <button class="news-page-add btn btn-info btn-sm" id="add_page" type="button" name="submit" value="Search" 
                                data-catid="{{ category.id }}" data-title="{{ result.title }}" data-url="{{ result.link }}">
                                    添加
                                </button>
                                <h4 class="list-group-item-heading"><a href="{{ result.link }}" target="new_tag">{{ result.title }}</a></h4>
                                <p class="list-group-item-text">{{ result.summary }}</p>
                            </div>
                        {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% else %}
        the specified category does not exist.
    {% endif %}
{% endblock %}