{# 告诉模板引擎将在该模板中使用静态文件 #}
{# 模板渲染使用的是自带的DTL模板系统，也可以选择使用信任的 #}
{# 第三方系统，不信任的第三方可能会做一些注入攻击 #}
{# 模板语言命令放在里面 #}
{% extends 'news/base.html' %}
{% load staticfiles %}
{# 加载自定义标签处理模块 #}
{% load newstag %}

{% block title_block %}
    Home
{% endblock title_block %}

{% block page_head %}
    <h1>你好!
    {# user对象表示登录的用户，由request对象传入 #}
    {% if user.is_authenticated %}
        {{ user.username }}!
    {% else %}
        News!
     {% endif %}
     </h1>
{% endblock page_head %}

{% block body_head %}
    <div class="jumbotron">
        <h1 class="display-3">Hello, News</h1>
        <div style="color:#8DB6CD"><p class="lead">可以添加你喜欢的分类，让其他用户也能看到</p></div>
        {% comment %} <img src="{% static 'images/topviews.png' %}" alt="top views" height="250" width="500" /> {% endcomment %}
        <img src="data:image/png;base64,{{ imgbase64 }}" alt="top views" height="250" width="500" />
        {% comment %} <img class="rounded-circle" src="{% static 'images/plantVSzoom.jpg' %}" alt="plantVSzoom picture" height="200" width="200" /> {% endcomment %}
        <img class="rounded-circle" src="{% static 'images/cat.gif' %}" alt="plantVSzoom picture" height="200" width="200" />
    </div>
{% endblock body_head %}

{% block body_block %}

    <div class="row marketing">
        <div class="col-lg-6">
            <div style="color:#B8860B"><h4>点赞数排行</h4></div>
            <p>
            {# 模板部分 #}
            {% if categories_top_like %}
            <ul class="list-group">
                {% for cate in categories_top_like %}
                    <li class="list-group-item">
                        {# 使用自定义过滤器 #}
                        <a href="{% url 'news:show_category' cate.slug %}">
                            <img class="rounded-circle" src="{{ MEDIA_URL }}{{ ''|get_hot_picture }}" width="25" height="25" />
                            {{ cate.name }}
                        </a>
                        {# <a href="/news/category/{{ cate.slug }}">{{ cate.name }}</a> #}
                    </li>
                {% endfor %}
            </ul>
            {% else%}
                <strong>There are no categories present.</strong>
            {% endif %}
        </div>
        <div class="col-lg-6">
            <div style="color:#B8860B"><h4>浏览数排行</h4></div>
            <p>
            {% if categories_top_view %}
            <ul class="list-group">
            {% for cate in categories_top_view %}
                <li class="list-group-item">
                    {# |后面为过滤器函数，default接收一到两个参数 #}
                    {# 此外还有add date等过滤器 #}
                    <a href="/news/category/{{ cate.slug }}">{{ cate.name|default:"empty name" }}</a>
                </li>
            {% endfor %}
            </ul>
            {% else%}
                <strong>There are no categories present.</strong>
            {% endif %}
        </div>
    </div>

{% endblock  %}
<br />

{% block body_tail %}
    {# 会使用媒体模板上下文填充 #}
    {% comment %} <img class="rounded-circle" src="{{ MEDIA_URL }}16t.png" alt="16t" /> {% endcomment %}
{% endblock body_tail %}

{# 由于继承了模板，如果内容不再block中将不会显示 #}
{# 使用自定义标签函数 #}
{% catstr '------------' '************' '------------' %}