<!DOCTYPE html>

<!--告诉模板引擎将在该模板中使用静态文件-->
<!--模板语言命令放在里面-->
{% load staticfiles %}

<html>
    <head>
        <title>news</title>
    </head>
    <body>
        <h1>Hello news</h1>
        <div>Top 5 Liked categories</div>
        <div>
            <!--模板部分-->
            {% if categories_top_like %}
            <ul>
                {% for cate in categories_top_like %}
                    <li>
                        <a href="/news/category/{{ cate.slug }}">{{ cate.name }}</a>
                    </li>
                {% endfor %}
            </ul>
            {% else%}
                <strong>There are no categories present.</strong>
            {% endif %}
        </div>
        <div>Top 5 Viewed categories</div>
        <div>
            {% if categories_top_view %}
            <ul>
                {% for cate in categories_top_view %}
                    <li>
                        <a href="/news/category/{{ cate.slug }}">{{ cate.name }}</a>
                    </li>
                {% endfor %}
            </ul>
            {% else%}
                <strong>There are no categories present.</strong>
            {% endif %}
        </div>
        <br />
        <div>
            <a href="/news/add_category/">Add a New Category</a> <br />
            <a href="/news/about/">about</a> <br />
            <!--<a href="{% url 'news:about' %}">about</a> <br />-->
            <!--static声明加载静态文件 scr 最终由STATIC_URL决定，如/static/images/plantVSzoom.jpg-->
            <!--也可以加载css，js文件-->
            <img src="{% static 'images/plantVSzoom.jpg' %}" alt="plantVSzoom picture" height="200" width="200" />
            <!--会使用媒体模板上下文填充-->
            <img src="{{ MEDIA_URL }}16t.png" alt="16t" />
        </div>
    </body>
</html>